/*---------------
  SHOPPING ITEM
-----------------*/
.contentDiv { 
  margin: 3em 0; 
}
.cartTitle { 
  text-align: center; 
}
.shoppingMenuRow { 
  padding: 1em 0; 
  border-bottom: 1px solid black;
  flex-wrap: wrap;
}
.intestationRow { 
  text-align: center; 
  font-size: 30px; 
  padding-bottom: 0.3em!important;
}
.bookImage_div { 
  display: flex; 
  justify-content: flex-start; 
  align-items: center; 
}
.bookImage { 
  width: 150px; 
  height: 220px; 
}
.bookInfos { 
  display: flex; 
  justify-content: flex-start; 
  align-items: center; 
}
.bookPrice { 
  display: flex; 
  justify-content: center; 
  align-items: center; 
}
.lastColumn { 
  text-align: center; 
}
.lastColumn b { 
  font-size: 25px; 
}
.incrementDiv { 
  border-radius: 0.5em; 
  border: 1px solid #ccc; 
  margin: 0.25em 0!important;
}
.multiplierButtonL { 
  padding: 0!important;  
  border-top-left-radius: 0.25em; 
  border-bottom-left-radius: 0.25em; 
  border: none; 
  font-weight: bold;  
  font-size: 20px; 
}
.multiplierButtonR { 
  padding: 0!important;  
  border-top-right-radius: 0.25em; 
  border-bottom-right-radius: 0.25em; 
  border: none; 
  font-weight: bold;  
  font-size: 20px; 
}
.multiplier { 
  margin: 0!important;  
  padding: 0.25em 0;  
  display: flex; 
  align-items: center; 
  justify-content: center; 
}
.removeButton { 
  height: 60px;  
  margin: 0.5em 0; 
  padding: 0 1em;  
  background-color: darkorange;  
  color: #fff;  
  font-size: 20px;  
  border: none;  
  border-radius: 0.5em
}
.lastRow { 
  display: flex;  
  align-content: center;  
  justify-content: center; 
}
.buyBox { 
  margin: 2.5em;  
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.buyBox p { 
  text-align: center;  
  font-size: 30px;  
  margin: 0.5em 0;
}
.buy__button { 
  width: 50%;  
  background-color: darkorange;  
  height: 50px;  
  margin: 0% 25%;  
  margin-bottom: 2%;  
  font-size: 20px;  
  border: none;  
  border-radius: 0.5em; 
  color: #fff; 
}
button:focus { 
  outline: none!important; 
}
button:active { 
  background-color: red!important; 
}




/*--------------
  Adjustments
----------------*/
@media (max-width: 1000px) {
  .buyBox { 
    width: 100%;
  }
}

@media (max-width: 767px) {
  .bookImage_div { 
    justify-content: center; 
  }
  .intestationRow b { 
    display: none; 
  }
  .bookInfos { 
    padding: 1em 0; 
  }
  .buyBox { 
    margin-left: 1em;
    margin-right: 1em;
  }
  .buyBox p {
    font-size: 20px;
  }
  .buy__button { 
    width: auto; 
    font-size: 15px; 
  }
}

@media (max-width: 424px) {
  .cartTitle b { 
    font-size: 30px;
  }
}

@media (max-width: 320px) {
  .bookInfos { 
    font-size: 15px; 
  }
}
