/*-----------
GENERAL
-----------*/
html,body{height:100%;width: 100%}
body{background: #fff;}


/*--------------
Maps
---------------*/
.maps {width: 90%;height: 40%;background: #333;margin: 5%;padding: 1%;}
.maps iframe {width: 70%; height: 100%;float: left;}
.maps__info{height: 100%; width: 30%;float: left;color: #fff;text-align: center;}


/*-----------
Ipad
------------*/
@media (max-width: 1020px){
    .maps{height: auto;}
    .maps iframe{width: 100%;height: auto;}
    .maps__info{height: auto;width: 100%;}
}

/*-----------
Smartphone
------------*/
@media (max-width: 600px){ 
    .maps{height: auto;}
    .maps iframe{width: 100%;height: auto;}
    .maps__info{height: auto;width: 100%;}
}

