/*--------------
  EVENT
---------------*/
.eventBox { padding-top: 1em; }
.event__title { width: 100%;  padding: 0.5em;  text-align: center;  font-size: 30px;  font-weight: bold; }
.eventDescription { width: 100%;  background-color: #fff;  font-size: 20px; }
.eventMaps { background-color: #333;  margin: 3em 0;  padding: 1em; }
.eventMaps iframe { width: 70%;  height: 350px; }
.eventMaps__info { width: 30%;  color: #fff;  padding: 1em 0;  text-align: center;  display:flex;  justify-content: center;  align-items: center; }

.mapsInfo p { width: 100%; margin: 0;  padding: 0.25em 0; }


/*-----------
Ipad
------------*/
@media (max-width: 1020px){
  .eventMaps iframe{ width: 100%;  height: auto; }
  .eventMaps__info { width: 100%;  padding: 1em 0 0 0; }
}




