/*--------------
  CAROUSEL
---------------*/
.carousel__image { height: 85vh;  width: 100%;  object-fit: cover; }
.carousel-caption { z-index: 10; }
/*.carousel-caption h5 { font-size: 21px; }
.carousel-caption p { font-size: 15px; }*/
.cover__carousel { background-color: rgba(0,0,0,0.5);  height: 40%;  width: 100%;  position:absolute;  z-index: 1; bottom: 0; }


/*--------------
  PRESENTATION
---------------*/
.presentation { margin: 7%; }
.presentation p { text-align: center;  font-size: 21px;  font-style: italic; }




/*-----------
Ipad
------------*/
@media (max-width: 1020px){
    /*.carousel{height:45%;}*/
    /*.carousel-caption p{font-size: 0px;}*/
}

/*-----------
Smartphone
------------*/
@media (max-width: 600px){
    /*.cover__carousel{height: 0%;}
    .carousel{height: 30%;}
    .card{width: 96%;margin-right: 10%;max-width: none;}    */ 
}