/*--------------
  CAROUSEL
---------------*/
.carousel__image { 
  height: 85vh;  
  width: 100%;  
  object-fit: cover; 
}
.carousel-caption { 
  z-index: 10; 
}
.cover__carousel { 
  background-color: rgba(0,0,0,0.5);  
  height: 40%;  
  width: 100%;  
  position:absolute;  
  z-index: 1;  
  bottom: 0; 
}
.eventDescription { 
  display: -webkit-box;  
  -webkit-line-clamp: 4; 
  -webkit-box-orient: vertical;  
  overflow: hidden; 
}




/*--------------
  PRESENTATION
---------------*/
.presentation { 
  margin: 7%; 
}
.presentation p { 
  text-align: center;  
  font-size: 21px;  
  font-style: italic; 
}




/*---------------
  Adjustments
-----------------*/
@media (max-width: 1024px) and (min-width: 768px){
  .eventDescription { 
    -webkit-line-clamp: 3; 
  }
}

@media (max-width: 767px){
  .eventDescription { 
    display: none; 
  }
  .carousel-caption h3 { 
    height: 22.5vh; 
    font-size: 24px; 
    margin 0; 
    display: flex;  
    align-items: center;  
    justify-content: center;  
    -webkit-line-clamp: 4; 
  }
  .presentation p { 
    font-size: 15px; 
  }
}