/*---------------
  INFORMATION
-----------------*/
.infoContainer { 
  margin: 1.5em 0 2.5em 0; 
}
.infoContainer li { 
  padding-top: 1em;  
  padding-bottom: 1em; 
}




/*---------------
  Adjustments
-----------------*/
@media (max-width: 767px){
  .infoContainer ul { 
    font-size: 15px; 
  }
}

@media (max-width: 424px){
  .breadcrumb li { 
    font-size: 14px; 
  }
}
