body { overflow-x: hidden; }

/*----------
  NAVBAR
------------*/
.navbar { background-color: #333; border-bottom: 1px solid #fff; }
.nav-item { padding-left: 12px; padding-right: 12px; height: 100%; }
.nav-item:hover { background-color: #3498DB; }
.nav-link { color: #fff!important; }
#not_logged_menu { min-width: 275px; }
#logged_menu { min-width: 275px; }
.dropdown-menu { z-index: 1000; padding: 1rem!important }
#dropdownMenuButton { height: 100%; border-radius: 0px; background-color: #333; border: none; padding-top: 8px; padding-bottom: 8px; }
#dropdownMenuButton:hover, #dropdownMenuButton:focus { background-color: #3498DB; box-shadow: none;}
.show_Menu { display: block; }
.hide_Menu { display: none; }
.sign_container { }
hr { border-top-color: #ccc!important }
.sign_div { text-align: center }
#sign_in_form, #sign_up_form { display: none; }
.form_visible { display: block!important; }
.sign_button { border: none; background: none; font-size: 20; color: #ccc}
.sign_button_active { color: #000!important; }
.dropdown-item { padding-left: 0px!important; }
.drop_icon { padding-right: 0.5em;  }


/*----------
  FOOTER
------------*/
.footer { background-color: #333;  width: 100%;  padding: 1%;  color: #fff;  margin-top: 80px; }
.footer ul { list-style: none;  padding: 0;  margin-bottom: 0; }
.footer li a { color: #fff; }
.footer__service { text-align: center; }
.footer__about { text-align: center; }
.footer__social { text-align: center; padding: 1%; }
.footer__social a { font-size: 24px;  width: 40px;  height: 40px;  line-height: 35px;  display: inline-block;  text-align: center center;  border-radius: 50%; border: 1px solid #fff; margin: 0 8px;}
.footer__copyright { width: 100%;  text-align: center;  font-style: italic;  font-size: 15px; }


/*----------
  COVER
------------*/
.cover { height: 65vh;  width: 100%; position: relative; }
.cover__image { height: 100%;  width: 100%;  z-index: 0;  object-fit: cover; }
.cover__caption { line-height: 65vh;  width: inherit; text-align: center;  position: absolute;  width: inherit;  height: inherit;  top: 50%;  left: 50%;  transform: translate(-50%, -50%);  z-index: 1;  background-color: rgba(0,0,0,.4); }
.cover__caption h1 { color: #fff;  display: inline-block; vertical-align: middle;  line-height: normal;  font-size: 70px; }


/*--------------
  SHADOW STYLE
----------------*/
.card-1 { box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);  transition: all 0.3s cubic-bezier(.25,.8,.25,1); }
.card-1:hover { box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);  cursor: pointer; }



/*------------------------------
  AUTOCOMPLETE
--------------------------------*/
.autocomplete-suggestions { border: 1px solid #999; background: #fff; cursor: default; overflow: auto; }
.autocomplete-suggestion { padding: 10px 5px; font-size: 1.2em; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #f0f0f0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399ff; }


/*-----------
Smartphone
------------*/
@media (max-width: 600px){
  .footer__service { margin-top: 5px; }
  .footer__about { margin-top: 15px; }
  .footer__info { text-align: center;  margin-top: 15px; }
  .footer__info p { padding: 0 8%; }
}




/*----------------
  FUNZIONI UTILI
------------------*/

/* aggiusta i float, versione 13/04/2019 */
.group:after {
  content: "";
  display: table;
  clear: both;
}

/* fa il padding tenedo conto del box e dei bordi, per ogni motore */
*;
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box,
    box-sizing: border-box;
}

